@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(240, 191, 224);
} 

div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  padding: 15px 20px;
  background-color:rgb(182, 43, 66) ;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}




